<% content_for :content do %>
<h2><%= @item.data['dc-term:identifier'] %></h2>
<% if @item.data['parl:indexStatus'] == "Requires Indexing" %>
<div class="highlight highlight-info">
  <p>This paper has not been indexed yet.</p>
</div>
<% end %>
<p>
<% if @item.data['dc-term:abstract'] %>
<%= @item.data['dc-term:abstract'] %>
<% else %>
No description available.
<% end %>
<h3>Available files</h3>
<ul>
<% if @item.data['parl:depositedFile'] %>
    <% files = @item.data['parl:depositedFile'] %>
    <% if files.class.name == "Hash" %>
        <% files = [] %>
        <% files << @item.data['parl:depositedFile'] %>
    <% end %>
    <% files.each do |file| %>
        <li><a href="<%= file['@id'] %>"><%= file['@id'].sub('https://data.parliament.uk/DepositedPapers/files/', '').sub(@item.data['dc-term:identifier'] + '/', '') %></a></li>
    <% end %>
<% else %>
    <li>No files available</li>
<% end %>
</ul>
<!-- A comment -->
<p>Deposited by:
<% if @item.data['parl:department'] %>
    <%= raw(terms_with_link(@item.data['parl:department'], 'depositing-department' , deposited_papers_path)) %> 
<% end %>
</p>

<p>Corporate author: 
<% if @item.data['parl:corporateAuthor'] %>
    <%= raw(terms_with_link(@item.data['parl:corporateAuthor'], 'corporate-author', deposited_papers_path)) %>
<% end %>
</p>

<p>Subjects:  
<% if @item.data['dc-term:subject'] %>
    <%= raw(terms_with_link(@item.data['dc-term:subject'], 'subject', deposited_papers_path)) %>
<% end %>
</p>

<p>Houses:  
<% if @item.data['parl:legislature'] %>
    <%= raw(terms_with_link(@item.data['parl:legislature'], 'legislature', deposited_papers_path)) %>
<% end %>
</p>

<hr>
<details>
  <summary>Object details</summary>
    <%= @item.data %>
</details>
<% end %>
<%= render template: "layouts/application" %>