<h2><%= @item.data['dc-term:identifier'] %></h2>
<% if @item.data['parl:indexStatus'] == "Requires Indexing" %>
<div class="highlight highlight-info">
  <p>This paper has not been indexed yet.</p>
</div>
<% end %>
<p>
<% if @item.data['dc-term:abstract'] %>
<%= @item.data['dc-term:abstract'] %>
<% else %>
No description available.
<% end %>
</p>
<h3>Available files</h3>
<ul>
<% if @item.data['parl:depositedFile'] %>
    <% files = @item.data['parl:depositedFile'] %>
    <% if files.class.name == "Hash" %>
        <% files = [] %>
        <% files << @item.data['parl:depositedFile'] %>
    <% end %>
    <% files.each do |file| %>
        <li><a href="<%= file['@id'] %>"><%= file['@id'].sub('https://data.parliament.uk/DepositedPapers/files/', '').sub(@item.data['dc-term:identifier'] + '/', '') %></a></li>
    <% end %>
<% else %>
    <li>No files available</li>
<% end %>
</ul>

<p>Deposited by:
<% if @item.data['parl:department'] %>
    <%= @item.terms_with_link(@item.data['parl:department'], 'depositing-department') %> 
<% end %>
</p>

<p>Corporate author: 
<% if @item.data['parl:corporateAuthor'] %>
    <%= @item.terms_with_link(@item.data['parl:corporateAuthor'], 'corporate-author') %>
<% end %>
</p>

<p>Subjects:  
<% if @item.data['dc-term:subject'] %>
    <%= @item.terms_with_link(@item.data['dc-term:subject'], 'subject') %>
<% end %>
</p>

<p>Houses:  
<% if @item.data['parl:legislature'] %>
    <%= @item.terms_with_link(@item.data['parl:legislature'], 'legislature') %>
<% end %>
</p>

<% if @item.data['dc-term:relation'] %>
<p>Related to:</p>
<ul>
    <% relations = @item.data['dc-term:relation'] %>    
    <% if relations.class.name == "Hash" %>
        <% relations = [] %>
        <% relations << @item.data['dc-term:relation'] %>
    <% end %>
    <% relations.each do |relation| %>
        <li>
            <% if relation['parl:externalLocation'] && relation['parl:externalLocation']['@value'] %>
                <a href="<%= relation['parl:externalLocation']['@value'] %>"><%= relation['dc-term:title'] || relation['parl:externalLocation']['@value'] %></a>
            <% else %>
                <%= relation['dc-term:title'] %>
            <% end %>
        </li>   
    <% end %>
</ul>
<% end %>
