<div class="card">
  <a href="<%= url_for(item) %>" class="card">
  <% card = item.card_data %>
    <div class="card-inner">
      <div class="content">
        <div class="primary-info">
          <%= card[:primary_info][:text] %>
        </div>
        <div class="secondary-info">
          <%= card[:secondary_info][:text] %>
        </div>
        <div class="tertiary-info">
          <%= card[:tertiary_info][:text] %>
        </div>
        <div class="info">
            <div class="info-inner">
                <div class="indicators-left">
                    <div class="indicator indicator-label">
                        <%= card[:indicators_left][:text] %>
                    </div>
                </div>
                <div class="indicators-right">
                    <div class="indicator indicator-label">
                        <%= card[:indicators_right][:text] %>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </a>
</div>