<% content_for :title do %>
  <div style="display: flex; align-items: center; gap: 0.5rem;">
    <h2 style="margin: 0;"><%= @model_class.page_title %><%= @title %></h2>
  </div>
<% end %>

<% content_for :content do %>
  <div id="index">
    <% if @pagy %>
      <%= render partial: 'shared/pagination_wrapper', locals: { pagy: @pagy, model_class: @model_class } %>
    <% end %>
    
    <% @items.each do |item| %>
      <%= render partial: 'shared/card', locals: { item: item } %>
    <% end %>
    
    <% if @pagy %>
      <%= render partial: 'shared/pagination_wrapper', locals: { pagy: @pagy, model_class: @model_class } %>
    <% end %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
