<%# app/views/shared/_pagination_wrapper.html.erb %>
<div class="pagination-wrapper">
  <div class="pagination-info">
    <p>Showing <%= pagy.from %>-<%= pagy.to %> of <%= pagy.count %> items</p>
  </div>
  <div class="pagination-nav">
    <%== pagy_nav(pagy) %>
  </div>
  
  <div class="feed-links">
    <%= link_to model_class.feed_path, class: "rss-link", title: "Subscribe to RSS feed" do %>
      <%= image_tag "rss-icon.svg", alt: "RSS Feed", class: "rss-icon", style: "width: 16px; height: 16px;" %>
    <% end %>
    
    <%= link_to request.path + ".json", class: "json-link", title: "JSON API" do %>
      &lt;/&gt;
    <% end %>
  </div>
</div>