
<div class="card">
  <a href="/research-briefings/<%= item.id %>" class="card">
  <div class="card-inner">
    <div class="content">
      <div class="primary-info"> 
        <% if item.data_object['http://purl.org/dc/terms/title'] %>
          <%= item.data_object['http://purl.org/dc/terms/title'] %>
        <% else %>
          No title available.
        <% end %>
      </div>
      <div class="secondary-info">
        <%= raw(terms_no_link ( item.data_object['http://purl.org/dc/terms/publisher']) ) %> | <%= item.data_object['http://purl.org/dc/terms/identifier'] %> | <%= DateTime.parse(item.data_object['http://purl.org/dc/terms/date']["@value"]).strftime("%d %B %Y") %>
        <br>
        <% if item.data_object['http://purl.org/dc/terms/description'] %>
          <%= item.data_object['http://purl.org/dc/terms/description'] %> 
        <% else %>
          <%= "No Description" %>
        <% end %>
      </div>
      <div class="tertiary-info">
      </div>
    </div>
    <div class="info">
      <div class="info-inner">
        <div class="indicators-left">
          Topics: 
          <% if item.data_object['http://data.parliament.uk/schema/parl#topic'] %>
            <%= raw(terms_no_link ( item.data_object['http://data.parliament.uk/schema/parl#topic']) ) %>
          <% else %>
            <%= "No Topics" %>
          <% end %>
        </div>
        <div class="indicators-right">
          
        </div>
      </div>
    </div>
  </div>
  </a>
</div>