<% content_for :content do %>
<h2><%= @item.data_object['http://purl.org/dc/terms/identifier'] %></h2>
<% if @item.data_object['http://data.parliament.uk/schema/parl#indexStatus'] == "Requires Indexing" %>
<div class="highlight highlight-info">
  <p>This paper has not been indexed yet.</p>
</div>
<% end %>
<p>
<% if @item.data_object['http://purl.org/dc/terms/abstract'] %>
<%= @item.data_object['http://purl.org/dc/terms/abstract'] %>
<% else %>
No description available.
<% end %>
<h3>Available files</h3>
<ul>
<% if @item.data_object['http://data.parliament.uk/schema/parl#depositedFile'] %>
    <% files = @item.data_object['http://data.parliament.uk/schema/parl#depositedFile'] %>
    <% if files.class.name == "Hash" %>
        <% files = [] %>
        <% files << @item.data_object['http://data.parliament.uk/schema/parl#depositedFile'] %>
    <% end %>
    <% files.each do |file| %>
        <li><a href="<%= file['@id'] %>"><%= file['@id'].sub('https://data.parliament.uk/DepositedPapers/files/', '').sub(@item.data_object['http://purl.org/dc/terms/identifier'] + '/', '') %></a></li>
    <% end %>
<% else %>
    <li>No files available</li>
<% end %>
</ul>
<!-- A comment -->
<p>Deposited by:
<% if @item.data_object['http://data.parliament.uk/schema/parl#department'] %>
    <%= raw(terms_with_link ( @item.data_object['http://data.parliament.uk/schema/parl#department']), 'depositing-department' ) %> 
<% end %>
</p>

<p>Corporate author: 
<% if @item.data_object['http://data.parliament.uk/schema/parl#corporateAuthor'] %>
    <%= raw(terms_with_link ( @item.data_object['http://data.parliament.uk/schema/parl#corporateAuthor']), 'corporate-author' ) %>
<% end %>
</p>

<p>Subjects:  
<% if @item.data_object['http://purl.org/dc/terms/subject'] %>
    <%= raw(terms_with_link ( @item.data_object['http://purl.org/dc/terms/subject']), 'subject' ) %>
<% end %>
</p>

<p>Houses:  
<% if @item.data_object['http://data.parliament.uk/schema/parl#legislature'] %>
    <%= raw(terms_with_link ( @item.data_object['http://data.parliament.uk/schema/parl#legislature']), 'legislature' ) %>
<% end %>
</p>

<hr>
<details>
  <summary>Object details</summary>
    <%= @item.data_object %>
</details>
<%= link_to "Back", deposited_papers_path %>
<% end %>
<%= render template: "layouts/application" %>