<head>
		<meta charset="UTF-8">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="viewport" content="width=device-width">
		<title>Data Library Explorer</title>
		<link rel="canonical" href="<%= url_for(:only_path => false, :protocol => 'https') %>">
		<% if @csv_url -%>
			<link rel="alternate" href="<%= @csv_url %>" type="text/csv">
		<% end -%>
		<% if @rss_url -%>
			<link rel="alternate" href="<%= @rss_url %>" type="application/rss+xml">
		<% end -%>
		<meta property="og:locale" content="en_GB" >
		<meta property="og:type" content="website" >
		<meta property="og:url" content="" >
		<meta property="og:site_name" content="UK Parliament Data Library explorer" >
		<%= favicon_link_tag asset_path('favicon.ico') %>
 		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag "custom" %>

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>